h1 {
    background-color: #f5f5dd;
    height: 600px;
    width: 300px;
}

.kwadrat {
    width: 100px;
    height: 100px;
    background-color: black;
    margin: 20px;
}

#item-2 {
    opacity: 0.75;
}

#item-3 {
    opacity: 0.5;
}

#item-4 {
    opacity: 0.1;
}